/*
	single + responsive =
	CLEAN
*/

/* RESET */
* { margin: 0; padding: 0; }
ul, ol { list-style-type: none; }

body a {
color: #cc0000;
}

body a:hover {
color: #aa0000;
}

/* ICONS */
@font-face {
font-family: entypo;
src: url(entypo.eot);
}
@font-face {
font-family: entypo;
src: url(entypo.woff);
}
/* SOCIAL */
@font-face {
font-family: fontello;
src: url(fontello.eot);
}
@font-face {
font-family: fontello;
src: url(fontello.woff);
}

::selection,
::moz-selection {
background: #ffffcc;
}

body {
font: 100% Helvetica, sans serif;
}

.container {
width: 100%;
margin: auto;
}

.top-navi {
display: block;
width: 100%;
background: #cccccc;
}

.navi {
display: block;
width: 200px;
float: left;
}

.navi li {
display: inline-block;
padding: 10px;
}

.navi li a {
color: #666666;
}

#top {
display: block;
}

#top-container {
position: relative;
}

#banner {
width: 100%;
height: auto;
z-index: 50;
}

#top-text {
position: absolute;
top: 10%;
left: 50%;
z-index: 75;
font-size: 4em;
font-style: italic;
text-shadow: 1px 1px 0px #ffffff;
}

#top-subtext {
position: absolute;
top: 60%;
left: 50%;
z-index: 75;
font-size: 2em;
font-style: italic;
text-shadow: 1px 1px 0px #ffffff;
}

.box {
padding: 5em;
text-align: center;
}

.box .boxText {
padding: 0px 1.4em;
}

.box .heading {
font-size: 3.0em;
padding: 10px;
margin: 15px auto;
text-align: center;
border-bottom: 2px solid #cc0000;
}

.vietphrase-viet {
font-size: 2.6em;
font-family: georgia, times, serif;
}

.vietphrase-viet:before {
content: "\""
}

.vietphrase-viet:after {
content: "\""
}

.vietphrase-eng {
line-height: 1em;
font-size: 0.8em;
font-style: italic;
}

.vietphrase-eng:before {
content: "("
}

.vietphrase-eng:after {
content: ")"
}

.followButton {
display: inline-block;
margin: auto;
padding: 10px;
}

.followButtonText {
font-family: fontello;
text-align: center;
font-size: 100px;
}

.followButtonTextEntypo {
font-family: fontello;
text-align: center;
font-size: 100px;
}

.link-email {
font-weight: bold;
font-size: 1.6em;
}

#bottom {
background: #eeeeee;
padding: 0.6em;
border-top: 1px solid #999999;
}



/* MEDIA QUERIES */

@media only screen and (min-width: 64.063em) {

}


@media only screen and (min-width: 40.063em) and (max-width: 64.063em) {

	#top-text {font-size: 2.5em;}
	#top-subtext {font-size: 1.5em;}

}

@media only screen and (max-width: 40em) {

	#top-text {font-size: 2em;left:25%;top:5%;}
	#top-subtext {font-size: 1em;left:25%;top:60%;}
	.box {padding: 0.6em;}
	
}

